.market-act-container {
  margin: 0 auto;
  width: 80%;
}
.market-activity-cell {
  font-size: 0.8rem;
  font-weight: 400;
  vertical-align: middle;
}

.numbers-cell {
  text-align: end;
}

.ticker-cell {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.table-title {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 400;
  color: #6c757d;
}

.minus-cell {
  width: 50px;
  height: 50px;
  background: url('./../../../assets/icons/minus.svg') no-repeat center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.minus-cell:hover {
  background: url('./../../../assets/icons/minus_hover.svg') no-repeat center;
  color: transparent;
}

.hidden {
  visibility: hidden;
  font-size: 0.2;
}

.cell-up {
  background: url('../../../assets/icons/arr_up.svg') no-repeat right 8% center;
}

.cell-down {
  background: url('../../../assets/icons/arr_down.svg') no-repeat right 8% center;
}

.table-sm .volatility {
  padding-right: 30px;
}
